<ion-view class="pane">
  <ion-header-bar align-title="center" class="bar bar-positive" xattr-theme="bar-positive" data-component="crn-ion-header-bar">
    <div class="buttons buttons-left header-item">
      <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
    <h1 class="title">Title</h1>
    <div class="buttons buttons-right header-item">
      <button class="button button-clear" menu-toggle="right" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
  </ion-header-bar>
  <ion-content data-component="crn-ion-content" class="scroll-content has-header">
  <div class="component-holder ng-binding ng-scope" data-component="crn-list-icon" id="crn-list-icon-958072"><div crn-datasource="" ng-repeat="rowData in datasource.data" id="crn-list-icon5605" xattr-text-position="text-left"><a class="item item-icon-left" xattr-position="item-icon-left" data-component="crn-list-item-icon" id="crn-list-item-icon5605" href=""><i class="icon ion ion-home dark" xattr-theme="dark"></i><h2 class="dark" xattr-theme="dark">List Content</h2></a></div></div></ion-content>
</ion-view>